@model engenharia.Models.Colaborador.Colaborador
@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}


@section Scripts
{
    <script src="~/js/View/Login/acesso.js"></script>
}

<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->


        <div class="content-wrapper">
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-4">
                            <h1>Adicionar Perfil</h1>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <form id="form_validate">
                <div class="form-row">
                    <div class="col-md-12">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Informações</h3>
                            </div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-6">
                                        <label for="nomeForm">Nome Usuário *</label>
                                        <input type="text" id="inputName" class="form-control required" value="@Model.nome"/>
                                    </div>
                                    <div class="col-6">
                                        <label for="loginForm">Login Usuário *</label>
                                        <input type="text" id="inputLogin" class="form-control required" value="@Model.login">
                                    </div>
                                    <div class="col-4">
                                        <label for="senhaForm">Senha Usuário *</label>
                                        <input type="password" id="inputSenha" class="form-control required" value="@Model.senha">
                                    </div>
                                    <div class="col-4">
                                        <label for="cpfForm">CPF *</label>
                                        <input type="text" id="inputCPF" class="form-control required" maxlength="14" value="@Model.cpf" >
                                    </div>
                                    <div class="col-4">
                                        <label for="rgForm">RG *</label>
                                        <input type="text" id="inputRG" class="form-control required" value="@Model.rg">
                                    </div>
                                    <div class="col-4">
                                        <label for="dataNascForm">Data Nasc. *</label>
                                        <input type="date" id="inputDataNasc" class="form-control required" value="@Model.data_nasc.ToString("yyyy-MM-dd")" >
                                    </div>  
                                    <div class="col-4">
                                        <label for="telForm">Telefone *</label>
                                        <input type="text" id="inputTelefone" class="form-control required" value="@Model.telefone" >
                                    </div>
                                    <div class="col-4">
                                        <label for="emailForm">Email *</label>
                                        <input type="text" id="inputEmail" class="form-control required" value="@Model.email">
                                    </div>
                                    <div class="col-4">
                                        <label for="cargoForm">Cargo *</label>
                                        <select class="form-control custom-select" id="cargoSelected">
                                            @if (Model.cargo == "Gerente")
                                            {
                                                <option selected>Gerente</option>
                                                <option>Vendedor</option>
                                            }
                                            else
                                            {
                                                <option>Gerente</option>
                                                <option selected>Vendedor</option>
                                            }

                                        </select>
                                    </div>
                                    <div class="col-4">
                                        <label for="statusForm">Status *</label>
                                        <select class="form-control custom-select" id="statusSelected">
                                            @if (Model.status == "Ativo")
                                            {
                                                <option selected>Ativo</option>
                                                <option>Desativo</option>
                                            }
                                            else
                                            {
                                                <option>Ativo</option>
                                                <option selected>Desativo</option>
                                            }</select>
                                    </div>
                                    <div class="col-4">
                                        <label for="nivelForm">Nivel de Acesso *</label>
                                        <select class="form-control custom-select" id="nivelSelected">
                                            @if (Model.nivel == "Total")
                                            {
                                                <option selected>Total</option>
                                                <option>Restrito</option>
                                            }
                                            else
                                            {
                                                <option>Total</option>
                                                <option selected>Restrito</option>
                                            }</select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <input type="hidden" name="id" id="id" value="@Model.id" />
                            <input type="button" value="Editar" class="btn btn-success float-right" onclick="editarAcesso()">
                        </div>
                    </div>
            </form>
            <p>&nbsp;</p>
            <p id="validate_message">&nbsp;</p>
            <p>&nbsp;</p>
            <!-- /.content -->
        </div>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
</body>